#root {
    --header-text-color: #fff;
    --header-background-color: #404040;
    --star-color: #ffc000;
    --btn-background-color: #f0c040;
    --btn-text-color: #000;
    --unfilled-progress-bar: #a0a0a0;
    --filled-progress-bar: #f08000;
}